<div class="perfil_content">
    <div class="top_content">
        <div class="img-content">
            <img class="perfil-img" src="https://i.pinimg.com/564x/08/d6/70/08d6703ebd72c626a2754395a2340c61.jpg">
        </div>
        <div class="name-content">
            <h1 class="text-center">{{ name }} - Mi perfil</h1>
            <div class="data_content">
                <h3 class="m-3">Email: {{ email }}</h3>
                <h3 class="m-3">Rol: {{ role }}</h3>
                {{#if updateUser}}
                <button class="btn btn-dark"><a href="/api/users/premium/{{ id }}">Cambiar a premium</a></button>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="d-flex flex-columns justify-content-center mb-3">
        <div class="d-flex flex-column justify-content-center">
        </div>
    </div>
    {{#if isAdmin}}
    <div class="cont_btnAdmin">
        <button class="btn btn-dark m-3"><a href="/api/users/admin">Administrar usuarios</a></button>
        <button class="btn btn-dark m-3"><a href="/api/users/admin/tickets">Administrar tickets</a></button>
        {{#ifCond role '===' 'premium'}}
        <a class="btn btn-dark m-3" aria-current="page" href="/create-product">Crear producto</a>
        {{/ifCond}}
        {{#ifCond role '===' 'admin'}}
        <a class="btn btn-dark m-3" aria-current="page" href="/create-product">Crear producto admin</a>
        {{/ifCond}}
    </div>
    {{/if}}
    <div class="d-flex flex-direction-columns justify-content-center mb-3">
        <p>Ingrese Identificación, Comprobante de domicilio, Comprobante de estado de cuenta:</p>
    </div>
    <form class="d-flex justify-content-center  mb-3" id="cookieFormDocs"
        action="/api/users/profile/{{ id }}/identification" method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Identification</h2>
        <input class="m-3" name="identification" type="file" placeholder="Identification"></input>
        <button class="button-30 m-2" type="submit">Enviar</button>
    </form>
    <form class="d-flex justify-content-center  mb-3" id="cookieFormDocs"
        action="/api/users/profile/{{ id }}/ProofOfAddress" method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Proof of address</h2>
        <input class="m-3" name="ProofOfAddress" type="file" placeholder="Proof of address"></input>
        <button class="button-30 m-2" type="submit">Enviar</button>
    </form>
    <form class="d-flex justify-content-center  mb-3" id="cookieFormDocs"
        action="/api/users/profile/{{ id }}/ProofOfStatus" method="POST" enctype="multipart/form-data">
        <h2 class="text-center">Proof Of Status</h2>
        <input class="m-3" name="ProofOfStatus" type="file" placeholder="Proof Of Status"></input>
        <button class="button-30 m-2" type="submit">Enviar</button>
    </form>
    <br>
    <h2 class="text-center">Cargar imagen de perfil</h2>
    <form class="d-flex justify-content-center mb-3" id="cookieProfileImage"
        action="/api/users/profile/{{ id }}/image-profile" method="POST" enctype="multipart/form-data">
        <input class="m-3" name="profileImage" type="file" placeholder="ingrese imagen de perfil"></input>
        <button class="button-30 m-2" type="submit">Subir!</button>
    </form>
    <br>
    <h2 class="text-center">Cargar imagen de producto</h2>
    <form class="d-flex justify-content-center mb-3" id="cookieProfileImage"
        action="/api/users/profile/{{ id }}/image-product" method="POST" enctype="multipart/form-data">
        <input class="m-3" name="productImage" type="file" placeholder="ingrese imagen de perfil"></input>
        <button class="button-30 m-2" type="submit">Subir!</button>
    </form>
</div>