<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Babylon Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/product/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/cart/user">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/users/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/session/logout">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class=" mb-3 d-flex justify-content-center flex-column aling-items-end">
        <h1 class="mb-3">Bienvenido {{userName}} a Library Babylon</h1>
    </div>
    <div class="cards-content">
        {{#each products}}
        <div class="card-content shadowOne">
            <img src="{{this.thumbnail}}" class="img-product" alt="">
            <div class="card-body">
                <div class="card-body">
                    <h3 class="card-title">{{this.title}}</h3>
                    <li>
                        <strong>Autor: </strong>{{this.autor}}
                    </li>
                    <li>
                        <strong>Description: </strong> {{this.description}}
                    </li>
                    <li>
                        <strong>Categoria: </strong>{{this.category}}
                    </li>
                    <li>
                        <strong>Stock: </strong>{{this.stock}}
                    </li>
                    <li>
                        <strong>Price: </strong>${{this.price}}
                    </li>
                    <div class="d-flex card-buttons">
                        {{#ifCond this.stock '!==' 0}}
                        <form action="/api/cart/{{../cartId}}/product/{{this._id}}" method="POST">
                            <button type="submit" class="btn btn-primary m-3">Agregar al carrito</button>
                        </form>
                        {{/ifCond}}
                        {{#if ../isAdmin}}
                        <a href="/api/product/delete/{{this._id}}"><button class="btn-red m-3">Eliminar</button></a>
                        {{/if}}
                        {{#ifCond ../userEmail '===' this.owner.username}}
                        <a href="/api/product/delete/{{this._id}}"><button class="btn-red m-3">Eliminar mi
                                producto</button></a>
                        {{/ifCond}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="content-btns-pages">
        {{#if hasPrevPage}}
        <a href="/api/product/products/?page={{prevPage}}"><button class="btn btn-primary mt-3 mb-3">Pag
                Anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/api/product/products/?page={{nextPage}}"><button class="btn btn-primary mt-3 mb-3">Pag
                Siguiente</button></a>
        {{/if}}
    </div>
</div>