<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Babylon Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/product/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/cart/user">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/users/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/api/session/logout">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="cart-section">
    <div class="cart-content">
        <h1>{{name}} - Carrito de Compras</h1>
        <table class="cart-list">
            <thead>
                <tr>
                    <th class="m-3">Producto</th>
                    <th class="m-5">Cantidad</th>
                    <th class="m-3">Precio Unitario</th>
                    <th class="m-3">Total por Producto</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td class="m-3">{{product.title}}</td>
                    <td class="m-3">{{quantity}}</td>
                    <td class="m-3"> ${{product.price}}</td>
                    <td class="m-3">${{total}}</td> <!-- Muestra el total por producto -->
                </tr>
                {{/each}}
            </tbody>
        </table>

        <!-- Muestra el total de la compra -->
        {{#if products}}
        <div class="cart-total">
            <p class="m-0">Total de la Compra: ${{total}}</p>
        </div>
        <div class="buy-btn">
            <form action="/api/cart/{{cartId}}/purcharse" method="POST">
                <button class="btn-primal" type="submit">Comprar!</button>
            </form>
        </div>
        {{/if}}
    </div>
</section>